* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Vollkorn', Georgia, serif;
}

img {
  max-width: 100%;
}

/* Grid Geral */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
    "header header header"
    "sidenav content anuncios"
    "footer footer footer"
  ;
}

.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.logo {
  max-width: 200px;
}
.header nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header nav a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125rem;
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  transition: .1s;
}
.header nav a:hover {
  background: rgba(0,0,0,.5);
}
.header li + li {
  margin-left: 30px;
}

.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}
.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 150px;
  margin: 0 auto 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
  transition: .1s ease-out;
}
.sidenav li a:hover {
  background: #b07dfb;
}


.content {
  grid-area: content;
}

.anuncios {
  grid-area: anuncios;
}

.footer {
  grid-area: footer;
}
/* .footer p {
  display: block;
} */